.profile{
    grid-column-start: 1;
    grid-column-end: 2;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    margin: 0 2em;
}

.profile-header img{
    height:20vh;
    width: 15vw;
    border-radius: 50%; 
}

.profile-header{
    display: flex;
    padding:1em;
}