.post-card{
    width: 30vw;
    border:1px solid rgb(231, 231, 231);
    margin:2em 0;
    background-color: white;
}

.post-header{
    height:10vh;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-bottom:0.5em;
    display: flex;
    justify-content: space-between;
    background-image: var(--main-bg-gradient);
    color:white;
}

.post-author-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author-info img{
    height: 8vh;
    width: 5vw;
    border-radius:50%; 
}

.post-header a{
    color:white;
}

.image-container{
    display: flex;
    justify-content: center;
}

.image-container img{
    height: 50vh;
    width: 30vw;
}



