.home{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.home-image{
    grid-column-start:1;
    grid-column-end: 2; 
}

.home-image img{
    width: 100%;
}

.register-form{
    grid-column-start:2;
    grid-column-end: 3; 
}

form{
    margin:2em; 
    background-color: whitesmoke;
    height:50vh;
    padding:1em;
    display: flex;
    flex-direction: column;
    opacity: .8;
    border-radius: 1em;
}

form p{
    margin:1em;
}