.home{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    height: 90vh;
}

.home-image{
    grid-column-start:1;
    grid-column-end: 2; 
}

.home-image img{
    width: 100%;
}

.register-form{
    grid-column-start:2;
    grid-column-end: 3; 
}