/* .my-home{
    display: grid;
    grid-template-columns: 25% 40% 45%;
} */

.profile{
    grid-column-start: 1;
    grid-column-end: 2;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.profile-header img{
    height:20vh;
    width: 15vw;
    border-radius: 50%; 
}

.profile-header{
    display: flex;
    padding:1em;
}

.profile-form{
    display: flex;
    flex-direction: column;
    padding-top:5em;
    position: absolute;
    top:0;
    left:50%;
    opacity: 100;
    width: 30vw;
}