.profile{
    grid-column-start: 1;
    grid-column-end: 2;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    padding:1em 1em; 
    margin-right: 1em;
}

.profile-header img{
    height:20vh;
    width: 15vw;
    border-radius: 50%; 
}

.profile-header{
    display: flex;
    padding:1em;
}

.profile-form{
    display: flex;
    flex-direction: column;
    padding-top:5em;
    position: absolute;
    top:0;
    left:25%;
    opacity: 100;
    width: 50vw;
    height:70vh;
}

.bio{
    background-color: whitesmoke;
    height:10vh;
    width: 20vw;
    border: 1px solid black;
}

.new-pic{
    display: flex;
    flex-direction: column;
}