nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: var(--main-bg-gradient);
    padding-bottom: 1em;
}

.nav-header{
    font-family: 'Hepta Slab', serif;
    font-size: 2.5em;
    color:white;
}


.nav-links{
    display: flex;
    justify-content: space-evenly;
}

.nav-links li{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    list-style: none;
    padding-right:1em; 
}

.nav-links li:hover{
    color: var(--hover-button-color);
}